In [12]:
import pandas as pd
import numpy as n
import seaborn as sns


path = r'F:\Bahria\Study\7\DM\Project\Dataset\Coastal Data System - Waves.csv'

#Read csv
waves = pd.read_csv(path)

waves.columns = ["time", "Hs", "Hmax","Tz","Tp","direction", "temp"]
waves["time"] = pd.to_datetime(waves["time"])
waves["year"] = waves["time"].astype(str).str[0:4]
waves["year"] = waves["year"].astype(int)

waves["time1"] = waves["time"].astype(str).str[11:16]
waves["month"] = waves["time"].astype(str).str[5:7]

#Floor(Round to .0) peak direction
waves["dir"] = 10* (waves["direction"] // 10)

#Floor(Round to .0) temperature
waves["temp1"] = (waves["temp"] // 1)

waves.info()
waves = waves[waves.Hs > 0]
waves.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43728 entries, 0 to 43727
Data columns (total 12 columns):
time         43728 non-null datetime64[ns]
Hs           43728 non-null float64
Hmax         43728 non-null float64
Tz           43728 non-null float64
Tp           43728 non-null float64
direction    43728 non-null float64
temp         43728 non-null float64
year         43728 non-null int32
time1        43728 non-null object
month        43728 non-null object
dir          43728 non-null float64
temp1        43728 non-null float64
dtypes: datetime64[ns](1), float64(8), int32(1), object(2)
memory usage: 3.8+ MB

,time,Hs,Hmax,Tz,Tp,direction,temp,year,time1,month,dir,temp1
1,2017-01-01 00:30:00,0.875,1.39,4.421,4.506,-99.9,-99.90,2017,00:30,01,-100.0,-100.0
2,2017-01-01 01:00:00,0.763,1.15,4.520,5.513,49.0,25.65,2017,01:00,01,40.0,25.0
3,2017-01-01 01:30:00,0.770,1.41,4.582,5.647,75.0,25.50,2017,01:30,01,70.0,25.0
4,2017-01-01 02:00:00,0.747,1.16,4.515,5.083,91.0,25.45,2017,02:00,01,90.0,25.0
5,2017-01-01 02:30:00,0.718,1.61,4.614,6.181,68.0,25.45,2017,02:30,01,60.0,25.0